<!DOCTYPE html>
<html lang="en">
<head>   
	<link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <title>Ukas oppskrifter </title>  
</head>
<body>

    <div id="content">
    	<a class="topButtons" id="homebutton" href="/">Home</a>
    	<a class="topButtons" id="checkEmails" href="/">Check email for new recipes</a>
		<a class="topButtons" id="addNew" href="/new/newRecipe">Add new recipe manually</a>
		<a class="topButtons" id="addNew" href="/new/newRecipe">Scrape a website for recipe</a>
	    {% block content %}
		{% endblock %}
	</div>     
</body>
</html>